body{
  font:14px;
  padding-top:20px;
  position:relative;
}



.head:nth-child(2){
  font-weight:bold;
  width:85px;
  margin-left:5px;
}
.head:nth-child(3){
  margin-right:5px;
}

div.head{
  display:inline-block;
}





table.main{
  padding:50px;
  border-collapse: collapse;
}

.main td{
  width:calc(100%/7);
  height:80px;
  padding:0;
  vertical-align:top;
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  border-top: 1px solid rgba(0, 0, 0, 0.23);
  outline: none;

}

.main tr td:nth-child(6){
    background-color: rgba(145, 0, 48, 0.1);
}
.main tr td:nth-child(7){
    background-color:rgba(145, 0, 48, 0.1);
}

.main tr td:nth-child(n):hover{
  background-color: #dedede;
  transition:0.1s ease-in-out;
}

.main td:focus-within .numbers p {
  background-color: rgb(201, 201, 201);
  outline: none;
  transition:0.3s ease-in-out;
}

.main td:focus-within .nowDate p {
  background-color: #c70000;
}

.numbers {
  display:block;
  text-align:right;
  padding-right:10px;
  margin:0;
  outline: none;
}

.numbers p{
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  margin: 2px auto;
  margin-right:0;
  border-radius:15px;

}

.nowDate p{
  background-color:red;
  outline: none;
  color:white;
}

.otherMonth{
  color: #969696;
}

td.holiday{
  background-color:rgba(145, 0, 48, 0.1);
}

p.holiday{
  text-align:left;
  margin:0 2px 0 2px;
  border-radius:5px;
  font-size:12px;
  color:white;
  padding-left:5px;
  background-color: rgba(204, 87, 87, 0.6);
}

button {
  border-radius:10px;
  color:#fff;
  width:25px;
  border: 0;
  font-weight:200;
  text-transform:uppercase;
  cursor:pointer;
  text-decoration:none;
}
button:hover { background: rgb(53, 167, 110); }

button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

button:focus {outline:none !important;}


thead{
  width:200px;
}

.form{
  display:none;
  position:absolute;
}

/*.dayEvents{

}*/