body{
  font:14px;
}



.head:nth-child(2){
  margin-left:20px;
  font-weight:bold;
}

table{
  padding:50px;
  border-collapse: collapse;
}

td{
  height:80px;
  padding:0;
  vertical-align:top;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  outline: none;
}

td:hover{
  background-color:#ccc;
}

td:focus-within .numbers p {
  background-color:green;
  outline: none;

}

.numbers {
  display:block;
  text-align:right;
  padding-right:30px;
  margin:0;
  outline: none;
}

.numbers p{
  width:30px;
  height:30px;
  text-align:center;
  margin:0;
  border-radius:15px;
}



